/*
*    @author     Julio Viera 2023
*/
html {
	font-size: 14px;
}

:root {
	--z-index-panel: 10000;
	--z-index-transicion: 9000;
	--z-index-menu: 10100;
	--z-index-config: 10150;
	--z-index-popup: 10200;
	--z-index-mensaje: 10300;

	--bg-general: #8b8b8b;
	--bg-contenido: #f6f9ff;
	--bg-cabecera: #c1d9f1;
	--bg-pie: #c1d9f1;
	--bg-panel: #e1e8ef;
	--bg-control: #fff;
	--bg-control-2: #ddd;
	--bg-control-3: #eee;
	--bg-popup: #f6f9ff;
	--bg-img-logo: inherit;

	--fc-general: #000000;
	--fc-contenido: #000000;
	--fc-cabecera: #222;
	--fc-pie: #222;
	--fc-panel: #222;
	--fc-control: #222;
	--fc-control-2: #333;
	--fc-control-placeholder: #444;
	--fc-popup: #000000;

	--bg-titulo: #e9e9e9;
	--br-titulo: #afb5c7;
	--fc-titulo: #000000;

	--bg-subtitulo: #e9e9e9;
	--br-subtitulo: #afb5c7;
	--fc-subtitulo: #000000;

	--br-panel: #a9a9a9;
	--br-popup: #222;

	--br-control: #adadad;
	--accent-control: #222;
	--caret-control: #000; /* cursor */
	--cl-scroll-1: #888;
	--cl-scroll-2: #ddd;

	--bg-btn: #dbdbdb;
	--fc-btn: #000;
	--bg-btn-activo: #fbfbfb;
	--fc-btn-activo: #000;
	--br-btn: #a7c0d9;

	--bg-resaltado: #444;
	--fc-resaltado: #fff;

	--bg-error: #b14d4d;
	--fc-error: #fff;
	--br-error: #970404;

	--bg-info: #eef1cd;
	--br-info: #adaf93;
	--fc-info: #242727;

	--bg-descripcion: #cdf1ef;
	--br-descripcion: #abd1cf;
	--fc-descripcion: #242727;

	--redondeado-1: 0.15em;

 	--espera-ancho: 1em;
  	--espera-desplazar: 1em;
  	--bg-espera1: #4cec9e;
   	--bg-espera2: #247059;

   	--bg-transicion-1: #d2eaeb;
	--bg-transicion-2: #449195;

	--fc-transicion: #222;

	--bg-listado-par: #d3e4f5;
	--bg-listado-impar: #d4f4fd;

	--fc-listado-par: #000;
	--fc-listado-impar: #000;

	--bg-lightbox: rgba(0, 0, 0, .5);
	--br-lightbox: #000;
}

:root[data-theme="oscuro"] {
	--bg-general: #7d7b7b;
	--bg-contenido: #2a2d31;
	--bg-cabecera: #1b232f;
	--bg-pie: #1b232f;
	--bg-panel: #2c343f;
	--bg-control: #333f57;
	--bg-control-2: #3c547f;
	--bg-control-3: #23425d;
	--bg-popup: #2a2d31;
	--bg-img-logo: #474747;

	--fc-general: #fbfad5;
	--fc-contenido: #fbfad5;
	--fc-cabecera: #fbfad5;
	--fc-pie: #fbfad5;
	--fc-panel: #d5fbf3;
	--fc-control: #fbfad5;
	--fc-control-2: #fffed4;
	--fc-control-placeholder: #ddd;
	--fc-popup: #fbfad5;

	--bg-titulo: #152125;
	--br-titulo: #000;
	--fc-titulo: #dbdbdb;

	--bg-subtitulo: #152125;
	--br-subtitulo: #324e57;
	--fc-subtitulo: #dbdbdb;

	--br-panel: #1c2129;
	--br-popup: #1c2129;
	--br-control: #15181e;
	--accent-control: #ddd;
	--caret-control: #fff;
	--cl-scroll-1: #444;
	--cl-scroll-2: #7b8488;

	--bg-btn: #0d4b69;
	--fc-btn: #fffed4;
	--bg-btn-activo: #256d8f;
	--fc-btn-activo: #ddd;
	--br-btn: #062433;

	--bg-resaltado: #ddd;
	--fc-resaltado: #000;

	--bg-error: #b14d4d;
	--fc-error: #fff;
	--br-error: #970404;

	--bg-info: #4a4b43;
	--br-info: #67695b;
	--fc-info: #eff1e3;

	--bg-descripcion: #4a4b43;
	--br-descripcion: #67695b;
	--fc-descripcion: #eff1e3;

   	--bg-espera1: #4cec9e;
    --bg-espera2: #247059;

   	--bg-transicion-1: #0d4b69;
    --bg-transicion-2: #082e41;

	--fc-transicion: #d9d9d9;

	--bg-listado-par: #535353;
	--bg-listado-impar: #5f5f5f;

	--fc-listado-par: #fff;
	--fc-listado-impar: #fff;

	--bg-lightbox: rgba(130, 130, 130, .5);
	--br-lightbox: #ddd;
}

* [disabled] {
	filter: brightness(0.5);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	word-wrap: break-word;
	font-family: sans-serif;
	transition: all 0.15s;
}

*::placeholder {
	color: var(--fc-control-placeholder);
}

* [estado="error"] {
	background-color: var(--bg-error) !important;
	color: var(--fc-error) !important;
	border-color: var(--br-error) !important;
}

*:invalid {
	background-color: var(--bg-error) !important;
	color: var(--fc-error) !important;
	border-color: var(--br-error) !important;
}

body {
	background-color: var(--bg-general);
	font-family: sans-serif;
	color: var(--fc-general);
	font-size: 1rem;
	padding: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

ul {
	list-style-type: none;
}

li {
	list-style-type: none;
}

td {
	vertical-align: top;
	overflow-wrap: anywhere;
}

mark {
	background: var(--bg-resaltado);
	color: var(--fc-resaltado);
	padding: 0.2em;
	border-radius: var(--redondeado-1);
}
p{
	margin: 1em 0em;
}

select {
	padding: 0.5em 1.8em;
	border-radius: var(--redondeado-1);
	width: fit-content;
	height: fit-content;
	max-width: 80%;
}

input {
	padding: 0.5em 1.8em;
	border-radius: var(--redondeado-1);
}
input[type="checkbox"] {
	padding: 0;
	width: 1.5em;
	height: 1.5em;
}
input[type="radio"] {
	padding: 0;
	width: 1.5em;
	height: 1.5em;
}

input[type="color"] {
	padding: 0;
}
input[type="file"] {
	max-width: 90%;
	padding: 0.0;
    border: none;
}

textarea {
	padding: 0.5em 1.8em;
	border-radius: var(--redondeado-1);
}


a {
	color: inherit;
	text-decoration: none;
}

*::-webkit-scrollbar {
	width: 1em;
	height: 1em;
}

*::-webkit-scrollbar-track {
	background-color: var(--cl-scroll-1);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--cl-scroll-2);
	outline: 1px solid #000;
}

*::-webkit-scrollbar-corner {
	background-color: var(--cl-scroll-1);
	outline: 1px solid #000;
}

*::-webkit-resizer {
	background-color: var(--cl-scroll-2);
	outline: 1px solid #000;
}

audio,
canvas,
video {
	display: inline-block;
	max-width: 100%;
}

audio:not([controls]) {
	display: none;
	height: 0;
}


.icono-espera {

    display: flex;
    justify-content: center;
    width: calc(calc(var(--espera-ancho) * 3) + calc(var(--espera-desplazar) * 2));
    height: auto;
    margin: 0.3em 1em;
}
.icono-espera-puntos {
    display: inline-block;
    width: var(--espera-ancho);
    height: var(--espera-ancho);
    border-radius: 50%;
    background-color: var(--bg-espera1);
    box-shadow: var(--espera-desplazar) 0 var(--bg-espera1), calc(var(--espera-desplazar) * -1) 0 var(--bg-espera1);
    position: relative;
    animation: anim-espera 1.0s ease-out infinite alternate;
}

@keyframes anim-espera {
    0% {
        background-color: var(--bg-espera2);
        box-shadow: var(--espera-desplazar) 0 var(--bg-espera2), calc(var(--espera-desplazar) * -1) 0 var(--bg-espera1);
    }
    50% {
        background-color: var(--bg-espera1);
        box-shadow: var(--espera-desplazar) 0 var(--bg-espera2), calc(var(--espera-desplazar) * -1) 0 var(--bg-espera2);
    }
    100% {
        background-color: var(--bg-espera2);
        box-shadow: var(--espera-desplazar) 0 var(--bg-espera1), calc(var(--espera-desplazar) * -1) 0 var(--bg-espera2);
    }
}


.flex-h {
	display: flex;
	flex-direction: row;
	gap: 1em;
	flex-wrap: wrap;
}

.flex-v {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.listado-v {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.grilla-c1{
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
	width: 100%;
}

.grilla-c2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	width: 100%;
}
.grilla-c3{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1em;
	width: 100%;
}
.grilla-c4{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1em;
	width: 100%;
}

.centrado-propio-h{
	justify-self: center;
}
.flex-h-cent-v{align-items: center;}
.flex-h-cent-h{justify-content: center;}

.w-100{width: 100%;}
.w-90{width: 90%;}
.w-80{width: 80%;}
.w-70{width: 70%;}

.w-max-60em{max-width: 60em;}
.w-max-50em{max-width: 50em;}
.w-max-40em{max-width: 40em;}
.w-max-30em{max-width: 30em;}

.v-100{height: 100%;}
.v-90{height: 90%;}
.v-80{height: 80%;}
.v-70{height: 70%;}

.pd-05 {padding: 0.5em;}
.pd-1 {padding: 1em;}
.pd-1-2 {padding: 1em 2em;}

.mr-05 {margin: 0.5em;}
.mr-1 {margin: 1em;}
.mr-1-2 {margin: 1em 2em;}
.mr-0-1 {margin: 0em 1em;}
.mr-0-2 {margin: 0em 2em;}
.mr-1-0 {margin: 1em 0em;}
.mr-2-0 {margin: 2em 0em;}
.mr-05-cent {margin: 0.5em auto;}
.mr-1-cent {margin: 1em auto;}

.br-b-1{
	border-bottom: solid 1px var(--fc-general);
}

.control {
	background-color: var(--bg-control);
	color: var(--fc-control);
	border: solid 1px var(--br-control);
	accent-color: var(--accent-control);
	caret-color: var(--caret-control);
}
.control[type="range"]{
	height: 1em;
	padding: 0;
	border: none;
}

.textarea-estandar {
	padding: 0.5em 1.8em;
	border-radius: var(--redondeado-1);
	width: 100%;
	min-height: 10em;
}

.textarea-largo-v {
	padding: 0.5em 1.8em;
    border-radius: var(--redondeado-1);
    width: 100%;
    min-height: 30em;
}

.btn {
	display: block;
	padding: 0.5em 1em;
	color: var(--fc-btn);
	background-color: var(--bg-btn);
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	text-decoration: none;
	width: fit-content;
	min-height: 2em;
	align-content: center;
	font-size: 1em;
	border: solid 1px var(--br-btn);
	border-radius: var(--redondeado-1);
}

.btn:hover {
	color: var(--fc-btn-activo);
	background-color: var(--bg-btn-activo);
	transform: scale(1.1);
}

.btn:visited:hover {
	color: var(--fc-btn-activo);
	background-color: var(--bg-btn-activo);
	transform: scale(1.1);
}

.btn-cruz {
	display: block;
	font-size: 1em;
	padding: 0.5em;
	text-align: center;
	min-width: calc(2em + 2px);
	border-radius: 50%;
	cursor: pointer;
	justify-self: end;
}

.info {
	padding: 1em;
	margin: 1em 0px;
	border: solid 1px var(--br-info);
	border-radius: var(--redondeado-1);
	background-color: var(--bg-info);
	color: var(--fc-info);
}

.info::before {
	content: 'ⓘ';
	margin-right: 1em;
	font-weight: bold;
	color: var(--fc-info);
}


.descripcion {
	padding: 1em;
	border: solid 1px var(--br-descripcion);
	border-radius: var(--redondeado-1);
	background-color: var(--bg-descripcion);
	color: var(--fc-descripcion);
	text-align: left;
}


.ui-titulo{
	font-size: 1.6em;
	text-align: center;
	padding: 0.5em 1em;
	border-radius: var(--redondeado-1);
	border: solid 1px var(--br-titulo);
	background-color: var(--bg-titulo);
	color: var(--fc-titulo);
}

.ui-subtitulo{
	font-size: 1.1em;
	text-align: center;
	padding: 0.5em 1em;
	border-radius: var(--redondeado-1);
	border: solid 1px var(--br-subtitulo);
	background-color: var(--bg-subtitulo);
	color: var(--fc-subtitulo);
}

.base-ui-componente {
	position: relative;
}

.base-ui-transicion {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgb(181 181 181 / 50%);
	backdrop-filter: blur(3px);
	z-index: var(--z-index-transicion);
}

.base-ui-transicion .icono-espera {
	position: absolute;
	width: 60px;
	height: 60px;
	margin: auto;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	top: 40%;
	left: 50%;
	transform: translateX(-30px);
}

.base-ui-componente[lightbox] {
	background-color: var(--bg-popup);
	color: var(--fc-popup);
	box-sizing: border-box !important;
	min-width: 50% !important;
	max-width: 90% !important;
	box-shadow: 1px 1px 10px 1px var(--br-lightbox) !important;
	cursor: default !important;
	position: fixed !important;
	top: 50% !important;
	transform: translateY(-50%) !important;
	left: 5% !important;
	right: 5% !important;
	margin: auto !important;
	z-index: var(--z-index-popup) !important;
	overflow: auto !important;
	max-height: 90vh !important;
	min-height: 40vh !important;
}

.base-ui-componente-lightbox-fondo {
	z-index: calc(var(--z-index-popup) - 1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg-lightbox);
	cursor: crosshair;
}

.modulo-componente {
	display: block;
	position: relative;
}

.modulo-transicion {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgb(181 181 181 / 50%);
	backdrop-filter: blur(3px);
	z-index: var(--z-index-transicion);
}

.modulo-transicion .icono-espera {
	position: absolute;
	width: 60px;
	height: 60px;
	margin: auto;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
	top: 30%;
	left: 50%;
	transform: translateX(-30px);
}

.modulo-componente-contenido {
	position: relative;
}


.par{
	background-color: var(--bg-listado-par);
	color: var(--fc-listado-par);
}
.impar{
	background-color: var(--bg-listado-impar);
	color: var(--fc-listado-impar);
}

.imagen {
	border-radius: var(--redondeado-1);
}

.imagen-h {
	height: 100%;
	width: auto;
}

#organizacion-logo-panel{
 	background: var(--bg-img-logo);
    padding: 0.3em;
}
#organizacion-logo-pie{
 	background: var(--bg-img-logo);
    padding: 0.3em;
}

.panel {
	padding: 1em;
	background-color: var(--bg-panel);
	color: var(--fc-panel);
	border: solid 1px var(--br-panel);
	border-radius: var(--redondeado-1);
}
#nombre-usuario {
	padding: 0.5em 1em;
	border: solid 1px gray;
	float: right;
	display: flex;
	align-items: center;
}

.oculto{
	display: none;
}

main {
	position: relative;
	display: grid;
	width: calc(100vw - 1em);
	height: calc(100vh - 1em);
	border-radius: 0.5em;
	overflow: hidden;
	box-shadow: #2d2d2d 1px 1px 5px;
}

main[data-distribucion="arriba"] {
	grid-template-areas:
		"cabecera"
		"contenido"
		"pie";
	grid-template-rows: auto 1fr auto;
}

main[data-distribucion="izquierda"] {
	grid-template-areas:
		"cabecera contenido"
		"cabecera contenido"
		"cabecera pie";
	grid-template-columns: max(10%, 20em) calc(100% - max(10%, 20em));
	grid-template-rows: auto 1fr auto;
}

#cabecera {
	grid-area: cabecera;
	background-color: var(--bg-cabecera);
	color: var(--fc-cabecera);
}

main[data-distribucion="arriba"] #cabecera {
	display: grid;
	grid-template-areas:
		"organizacion menu final";
	grid-template-columns: auto 1fr auto;
	padding: 0.5em 0.5em 0.5em 0.5em;
	gap: 1.0em;
	justify-content: center;
    align-items: center;
}

main[data-distribucion="izquierda"] #cabecera {
	display: grid;
	grid-template-areas:
		"organizacion"
		"menu"
		"final";
	grid-template-rows: 7em auto 4em;
	gap: 1em;
	padding: 1em;
}

main[data-distribucion="arriba"] #caja-organizacion {
	grid-area: organizacion;
	height: 3em;
	width: 3em;
}

main[data-distribucion="izquierda"] #caja-organizacion {
	display: flex;
	justify-content: center;
}

#caja-menu {
	grid-area: menu;
}
main[data-distribucion="izquierda"] #caja-menu {
	overflow: auto;
}
main[data-distribucion="arriba"] #caja-final {
	grid-area: final;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.2em;
	justify-content: end;
}
main[data-distribucion="izquierda"] #caja-final {
	grid-area: final;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.2em;
	justify-content: center;
	align-self: end;
}

#contenido {
	grid-area: contenido;
	position: relative;
	background-color: var(--bg-contenido);
	color: var(--fc-contenido);
	padding: 0em;
	overflow: auto;
}

#contenido-transicion {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: linear-gradient(140deg,
			var(--bg-transicion-1) 0%,
			var(--bg-transicion-2) 100%);
	color: var(--fc-transicion);
	z-index: var(--z-index-transicion);
	display: flex;
	flex-direction: column;
	gap: 4em;
	justify-content: center;
	align-items: center;
}

main[data-distribucion="arriba"] #pie {
	grid-area: pie;
	background-color: var(--bg-pie);
	color: var(--fc-pie);
	font-size: 0.8em;
	position: relative;
	padding: 0.5em 2em;
    position: relative;
    text-align: right;
}

#pie img[app_logo_chico]{
	height: 2em;
	width: auto;
}

main[data-distribucion="izquierda"] #pie{
	grid-area: pie;
    background-color: var(--bg-pie);
    color: var(--fc-pie);
    font-size: 0.8em;
    position: relative;
    height: 100%;
    align-content: center;
    width: 100%;
    text-align: right;
    padding: 0.5em 2em;
}

app-configuracion{
	display: none;
	padding: 2em;
	border-radius: 1em;
}
.config-contenedor{
	margin: 0em auto;
	max-width: 80em;
}
.config-panel {
	min-width: 20em;
	padding: 1em;
	background-color: var(--bg-panel);
	color: var(--fc-panel);
	border: solid 1px var(--br-panel);
	border-radius: 3px;
}

.config-panel h2 {
	border-bottom: solid 1px var(--br-panel);
	padding-bottom: 1em;
	margin: 0;
	text-align: center;
}

.config-item {
	display: grid;
	grid-template-columns: 10em auto;
	gap: 1em;
	margin: 1em;
	align-items: center;
	min-height: 3em;
}



@media only screen and (max-width: 800px) {
	main {
		grid-template-areas:
			"cabecera"
			"contenido"
			"pie" !important;
		grid-template-columns: calc(100vw - 1em) !important;
		grid-template-rows: auto 1fr auto !important;
	}

	#cabecera {
		display: flex !important;
		gap: 1em !important;
		padding: 0 !important;
		justify-content: center !important;
		align-items: center !important;
	}

	#caja-organizacion {
		height: 4em !important;
		width: 4em !important;
	}
	#caja-final {
		align-self: center !important;
	}


	.config-item {
		display: flex;
		gap: 1em;
		margin: 1em;
		align-items: center;
		min-height: 3em;
	}
	.panel {
		padding: 0.5em;
	}
}
@media only screen and (max-width: 500px) {

	.modulo-componente{
		padding: 0.1em;
	}
	.grilla-c1{
		gap: 0.3em;
		margin: 0.4em auto;
	}
	.grilla-c1{
		gap: 0.3em;
		margin: 0.4em auto;
	}
	.panel {
		padding: 0em;
	}
}
