.config-contenedor{
	margin: 0em auto;
	max-width: 80em;
}
.config-panel {
	width: fit-content;
	min-width: 30em;
	padding: 1em;
	background-color: var(--bg-panel);
	color: var(--fc-panel);
	border: solid 1px var(--br-panel);
	border-radius: 3px;
}

.config-panel h2 {
	border-bottom: solid 1px var(--br-panel);
	padding-bottom: 1em;
	margin: 0;
	text-align: center;
}

.config-item {
	display: grid;
	grid-template-columns: 10em auto;
	gap: 1em;
	margin: 1em;
	align-items: center;
	min-height: 3em;
}

#escala-ui {
	height: 1em;
	padding: 0;
	border: none;
}
