
:root {
	--bg-qr: #b1bbc5;
	--br-qr: #737373;
	--bg-img: #fff;
	--br-img: #959494;
}

:root[data-theme="oscuro"] {
	--bg-qr: #384663;
	--br-qr: #000;
	--bg-img: #fff;
	--br-img: #ddd;
}

ui-qr{
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 1.0em;
    border-radius: 0.3em;
    border: solid 1px var(--br-qr);
    background: var(--bg-qr);
}

ui-qr img{
	display: block;
    padding: 1.0em;
    border: solid 1px var(--br-img);
    border-radius: 0.2em;
    background: var(--bg-img);
}

ui-qr canvas{
	display: block;
    padding: 1.0em;
    border: solid 1px var(--br-img);
    border-radius: 0.2em;
    background: var(--bg-img);
}
ui-qr svg{
	display: block;
    padding: 1.0em;
    border: solid 1px var(--br-img);
    border-radius: 0.2em;
    background: var(--bg-img);
}
